
mixin burger
    ul.middleheader__list.listreset.flex
        - var lists = [{text:'Каталог', link:"one", anchor:"catalog.html"}, {text:'Магазины', link:"two", anchor:"two"}, {text:'Шоу-рум', link:"three", anchor:"three"}, {text:'Доставка и оплата', link:"four", anchor:"four"}, {text:'Дисконт', link:"five", anchor:"five"}, {text:'Контакты', link:"four", anchor:"contacts.html"}]
            each list in lists
                li.middleheader__item
                    a(href="" + list.anchor).middleheader__link.link= list.text
mixin sectionOneSlider
    - var swipSleders = [{text:'Скидка 15% на первую покупку', img:'1', class:'sectionone__one'},{text:'1000+ аксессуаров для дома', img:'2', class:'sectionone__two'}, {text:'Коллекция стильного и яркого текстиля', img:'3', class:'sectionone__three'}]
        each list in swipSleders
            .swiper-slide.sectionone__slider(class= list.class)
                .sectionone__cont
                    .sectionone__contains
                        p.preset.sectionone__text= list.text
                        button.sectionone__btn.btn.btnViolet Получить!
                picture.sectionone__img
                    source(srcset=`../imgs/slider${list.img}(768).webp` media="(max-width: 950px)")
                    source(srcset=`../imgs/slider${list.img}(1024).webp` media="(max-width: 1250px)")
                    source(srcset=`../imgs/slider${list.img}.webp` media="(max-width: 1920px)")
                    img.imgreset.lazy.sectionone__imgs(data-src=`../imgs/slider${list.img}.webp` alt="слайдер")
        .swiper-slide.sectionone__slider
            .sectionone__cont.sectionone__contcap
                .sectionone__containscap.flex
                    p.preset.sectionone__cap По вашему запросу ничего не нашлось
mixin btns
    .swiper-button-next
        svg.swiper-button-nextsvg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
            g(clip-path='url(#clip0_663_1756)')
                circle(fill='white' cx='16' cy='16' r='15' stroke='#A65CF0' stroke-width='2')
                path(d='M14 11L19 16L14 21' stroke='#A65CF0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
            defs
                clippath
                    rect(width='32' height='32')
    .swiper-button-prev
        svg.swiper-button-nextsvg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
            g(clip-path='url(#clip0_663_1756)')
                circle(fill='white' cx='16' cy='16' r='15' stroke='#A65CF0' stroke-width='2')
                path(d='M18 11L13 16L18 21' stroke='#A65CF0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
            defs
                clippath
                    rect(width='32' height='32' fill='white')
- var nameclass = ''
- var list = ''
mixin product(nameclass, list)
    div(class="" + `${nameclass}__container`).flex
        span(class="" + `${nameclass}__grade`).star= list.span
        a(class="" + `${nameclass}__link link` href="card.html")
            img.imgreset.lazy(class="" + `${nameclass}__img` data-src="../imgs/" + list.img, alt="товары с высоким рейтингом")
        div(class="" + `${nameclass}__contain`)
            h3.hreset(class="" + `${nameclass}__subtitle`).secondarytitle= list.title
            p.preset.secondarytitle=list.subtitle
            p.preset(class="" + `${nameclass}__price`)= list.price
            button(class="" + `${nameclass}__btn`).btn.halfbtn Купить
mixin swiperCard
    .swiper-wrapper
        - var swipimg = [{number:'2'}, {number:'1'}, {number:'3'}, {number:'4'}, {number:'5'}]
            each list in swipimg
                .swiper-slide
                    img.imgreset.swiper-slide-img.lazy(data-src=`../imgs/cardLeftImgs${list.number}.svg` alt="изображение товара")
- var navheaderList = []
mixin breadCrumbs(navheaderList)
    .bottomheaderbasketnav
        ul.navheaderlist.listreset.flex
            - var navheaderList = navheaderList
                each listnavheader in navheaderList
                    li.navheaderlistitem
                        a.navheaderlistlink.link(href="#")= listnavheader.title
- var categoryList = []
- var ids = ''
mixin checkbox(categoryList, ids)
    ul.catalogleft__categorylist.listreset(id= ids)
        - var categoryList = categoryList
            each list in categoryList
                li.catalogleft__categoryitem.flex
                    input.catalogleft__inpcheck(id= list.id type='checkbox' name= list.name value= list.name)
                    label.catalogleft__spaninp(for= list.id)= list.name
mixin footer
    footer.footer
        .footer__container.container.flex
            .footer__left
                a.footer__leftlogo(href="index.html")
                    picture.footer__img
                        source(srcset="../imgs/logo320.webp" media="(max-width: 650px)")
                        source(srcset="../imgs/logo768.webp" media="(max-width: 950px)")
                        source(srcset="../imgs/logo1024.webp" media="(max-width: 1250px)")
                        source(srcset="../imgs/logo.webp" media="(max-width: 1920px)")
                        img.footer__imglogo.imgreset.lazy(data-src="../imgs/logo.webp" alt="логотип")
                ul.footer__social.flex.listreset
                    li.footer__sociallist
                        a.footer__sociallistlink(href="#" aria-label="Ссылка на социальную сеть в фейсбук")
                            svg.footer__sociallistsvg(xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none")
                                path(d ="M15 0C6.74999 0 0 6.76205 0 15.0904C0 22.6205 5.48999 28.8705 12.66 30V19.4578H8.84999V15.0904H12.66V11.762C12.66 7.98193 14.895 5.90361 18.33 5.90361C19.965 5.90361 21.675 6.18976 21.675 6.18976V9.90964H19.785C17.925 9.90964 17.34 11.0693 17.34 12.259V15.0904H21.51L20.835 19.4578H17.34V30C20.8746 29.4395 24.0933 27.6288 26.4149 24.8947C28.7364 22.1606 30.008 18.6832 30 15.0904C30 6.76205 23.25 0 15 0Z" fill="#999999")
                    li.footer__sociallist
                        a.footer__sociallistlink(href="#" aria-label="Ссылка на социальную сеть во в контакте")
                            svg.footer__sociallistsvg(xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none")
                                path(d="M15 0C6.71601 0 0 6.7157 0 15C0 23.2843 6.71601 30 15 30C23.284 30 30 23.2843 30 15C30 6.7157 23.284 0 15 0ZM22.6088 16.6223C23.3079 17.3052 24.0476 17.9478 24.6752 18.7013C24.9532 19.0346 25.2153 19.3792 25.4148 19.7669C25.6996 20.3196 25.4425 20.9257 24.9477 20.9586L21.8747 20.958C21.081 21.0236 20.4494 20.7035 19.9169 20.1609C19.4919 19.7285 19.0975 19.2666 18.6881 18.8194C18.5208 18.6359 18.3447 18.4631 18.1347 18.3272C17.7158 18.0546 17.3518 18.1381 17.1118 18.5758C16.8672 19.0211 16.8114 19.5146 16.788 20.0102C16.7546 20.7348 16.5361 20.9242 15.809 20.9583C14.2554 21.031 12.7814 20.7953 11.4114 20.0121C10.2028 19.3212 9.26731 18.3462 8.45217 17.2423C6.86486 15.0902 5.64921 12.7283 4.55693 10.2985C4.3111 9.7513 4.49095 9.45852 5.09463 9.44716C6.0976 9.42783 7.10056 9.43028 8.10353 9.44624C8.51171 9.45268 8.78179 9.68624 8.93862 10.0714C9.48061 11.4049 10.1451 12.6737 10.9777 13.8503C11.1996 14.1637 11.4261 14.4761 11.7486 14.6974C12.1047 14.9417 12.376 14.861 12.5438 14.4635C12.6513 14.2109 12.6976 13.9409 12.7209 13.6702C12.8007 12.743 12.8102 11.8162 12.6721 10.8927C12.5862 10.3148 12.2612 9.94158 11.6851 9.83233C11.3917 9.77678 11.4347 9.66813 11.5774 9.50056C11.8251 9.21084 12.0571 9.03161 12.5208 9.03161L15.9928 9.031C16.5401 9.13841 16.6628 9.38394 16.7371 9.93514L16.7402 13.7936C16.7337 14.0069 16.8473 14.6391 17.2303 14.7787C17.5372 14.88 17.7397 14.6339 17.9233 14.4396C18.7559 13.556 19.3492 12.5131 19.8804 11.4338C20.1149 10.9577 20.3171 10.4652 20.5136 9.97166C20.6596 9.60675 20.8868 9.42721 21.2986 9.43335L24.642 9.43734C24.7406 9.43734 24.8406 9.43826 24.9382 9.45514C25.5017 9.55151 25.6561 9.79396 25.4817 10.3436C25.2074 11.2073 24.6743 11.9266 24.1531 12.6479C23.5946 13.4201 22.9989 14.1652 22.4458 14.9408C21.9376 15.6497 21.9778 16.0066 22.6088 16.6223Z" fill="#999999")
                    li.footer__sociallist
                        a.footer__sociallistlink(href="#" aria-label="Ссылка на социальную сеть в инстаграмм(запрещенная организаци)")
                            svg.footer__sociallistsvg(xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none")
                                g(clip-path="url(#clip0_38_39)")
                                path(d="M12.1289 15C12.1289 16.5857 13.4143 17.8711 15 17.8711C16.5857 17.8711 17.8711 16.5857 17.8711 15C17.8711 13.4143 16.5857 12.1289 15 12.1289C13.4143 12.1289 12.1289 13.4143 12.1289 15Z" fill="#999999")
                                path(d="M8.28558 9.91991C8.4236 9.54591 8.64378 9.2074 8.92989 8.92953C9.20775 8.64343 9.54604 8.42325 9.92026 8.28523C10.2238 8.16736 10.6797 8.02705 11.5195 7.98883C12.4279 7.9474 12.7003 7.93848 15.0001 7.93848C17.3001 7.93848 17.5725 7.94717 18.4807 7.9886C19.3204 8.02705 19.7766 8.16736 20.0799 8.28523C20.4541 8.42325 20.7926 8.64343 21.0702 8.92953C21.3563 9.2074 21.5765 9.54568 21.7148 9.91991C21.8326 10.2234 21.9729 10.6796 22.0112 11.5193C22.0526 12.4275 22.0615 12.6999 22.0615 14.9999C22.0615 17.2997 22.0526 17.5721 22.0112 18.4805C21.9729 19.3203 21.8326 19.7762 21.7148 20.0797C21.5765 20.454 21.3566 20.7923 21.0705 21.0701C20.7926 21.3562 20.4543 21.5764 20.0801 21.7144C19.7766 21.8325 19.3204 21.9728 18.4807 22.011C17.5725 22.0525 17.3003 22.0612 15.0003 22.0612C12.7 22.0612 12.4277 22.0525 11.5197 22.011C10.6799 21.9728 10.2238 21.8325 9.92026 21.7144C9.16907 21.4247 8.57535 20.8309 8.28558 20.0797C8.16771 19.7762 8.0274 19.3203 7.98895 18.4805C7.94753 17.5721 7.93883 17.2997 7.93883 14.9999C7.93883 12.6999 7.94753 12.4275 7.98895 11.5193C8.02718 10.6796 8.16748 10.2234 8.28558 9.91991ZM15.0001 19.4226C17.4429 19.4226 19.4232 17.4426 19.4232 14.9997C19.4232 12.5569 17.4429 10.5768 15.0001 10.5768C12.5574 10.5768 10.5771 12.5569 10.5771 14.9997C10.5771 17.4426 12.5574 19.4226 15.0001 19.4226ZM10.4023 11.4356C10.9731 11.4356 11.4359 10.9728 11.4359 10.4019C11.4359 9.8311 10.9731 9.3683 10.4023 9.3683C9.83145 9.3683 9.36865 9.8311 9.36865 10.4019C9.36888 10.9728 9.83145 11.4356 10.4023 11.4356Z" fill="#999999")
                                path(d="M15 0C23.283 0 30 6.717 30 15C30 23.283 23.283 30 15 30C6.717 30 0 23.283 0 15C0 6.717 6.717 0 15 0ZM6.43867 18.5511C6.48033 19.468 6.62613 20.094 6.83899 20.6419C7.28645 21.7989 8.20107 22.7135 9.35806 23.161C9.90578 23.3739 10.532 23.5194 11.4487 23.5613C12.3672 23.6032 12.6606 23.6133 14.9998 23.6133C17.3392 23.6133 17.6324 23.6032 18.5511 23.5613C19.4678 23.5194 20.094 23.3739 20.6417 23.161C21.2167 22.9447 21.7371 22.6057 22.1674 22.1674C22.6055 21.7374 22.9445 21.2167 23.1608 20.6419C23.3736 20.0942 23.5194 19.468 23.5611 18.5513C23.6034 17.6326 23.6133 17.3392 23.6133 15C23.6133 12.6608 23.6034 12.3674 23.5613 11.4489C23.5197 10.532 23.3741 9.90601 23.1612 9.35806C22.9449 8.78334 22.6057 8.26263 22.1674 7.83257C21.7374 7.39426 21.2167 7.05528 20.6419 6.83899C20.094 6.62613 19.468 6.48056 18.5511 6.43867C17.6326 6.39679 17.3392 6.38672 15 6.38672C12.6608 6.38672 12.3674 6.39679 11.4489 6.4389C10.532 6.48056 9.90601 6.62613 9.35806 6.83876C8.78334 7.05505 8.26263 7.39426 7.83234 7.83257C7.39426 8.26286 7.05505 8.78334 6.83899 9.35806C6.6259 9.90601 6.48033 10.532 6.43845 11.4489C6.39656 12.3674 6.38672 12.6608 6.38672 15C6.38672 17.3392 6.39656 17.6326 6.43867 18.5511Z" fill="#999999")
                                defs
                                    clipPath(id="clip0_38_39")
                                    rect(width="30" height="30" fill="white" transform="matrix(-1 0 0 1 30 0)")
            .footer__right.flex
                - var footerRight = [{titleone:'О нас', titletwo:'О компании', titlethree:'Блог', class:'footer__rightcontainerone', href:'acquaintance.html'},{titleone:'Услуги', titletwo:'Доставка', titlethree:'Рассрочка и кредит', titlefour:'Сборка и установка', class:'footer__rightcontainertwo', href:'conditions.html'},{titleone:'Связь с нами', titletwo:'Обратная связь', titlethree:'Контакты', class:'footer__rightcontainerthree', href:'contacts.html'},{titleone:'Сотрудничество', titletwo:'Поставщикам', titlethree:'Оптовикам', titlefour:'Карьера', class:'footer__rightcontainerfour', href:'cooperation.html'}]
                    each listRight in footerRight
                        .flex(class="" + listRight.class)
                            a.footer__rightcontainertitleone.link.footer__rightcontaineronelinks(href="" + listRight.href)= listRight.titleone
                            a.footer__rightcontainertitlenoone.link.footer__rightcontaineronelinks(href="" + listRight.href)= listRight.titletwo
                            a.footer__rightcontainertitlenoone.link.footer__rightcontaineronelinks(href="" + listRight.href)= listRight.titlethree
                            if listRight.titlefour
                                a.footer__rightcontainertitlenoone.link(href="" + listRight.href)= listRight.titlefour
        .footer__bottom
            span.footer__bottomcop SDP®   2011-2021
mixin personAndBasket
    .bottomheaderright.flex
        button.bottomheaderperson.btn( aria-label="Войти в личный кабинет")
            svg(xmlns="http://www.w3.org/2000/svg" width="26" height="28" viewBox="0 0 26 28" fill="none")
                path(d="M24.98 22.8503C24.3278 21.2785 23.3813 19.8508 22.1933 18.6467C21.0089 17.4392 19.6059 16.4764 18.0617 15.8116C18.0478 15.8045 18.034 15.801 18.0202 15.794C20.1742 14.2111 21.5744 11.6327 21.5744 8.72362C21.5744 3.90452 17.7367 0 13 0C8.26333 0 4.42559 3.90452 4.42559 8.72362C4.42559 11.6327 5.82585 14.2111 7.97982 15.7975C7.96599 15.8045 7.95216 15.808 7.93833 15.8151C6.38941 16.4799 4.99952 17.4332 3.80671 18.6503C2.61981 19.8553 1.67349 21.2827 1.02003 22.8538C0.37806 24.3918 0.0318323 26.0409 8.64563e-05 27.7116C-0.000836348 27.7491 0.00563604 27.7864 0.0191224 27.8214C0.0326088 27.8564 0.0528363 27.8882 0.0786128 27.9151C0.104389 27.942 0.135194 27.9633 0.16921 27.9779C0.203227 27.9925 0.239768 28 0.27668 28H2.35113C2.50326 28 2.62427 27.8769 2.62773 27.7256C2.69688 25.01 3.76868 22.4668 5.66335 20.5392C7.62371 18.5447 10.2271 17.4472 13 17.4472C15.7729 17.4472 18.3763 18.5447 20.3367 20.5392C22.2313 22.4668 23.3031 25.01 23.3723 27.7256C23.3757 27.8804 23.4967 28 23.6489 28H25.7233C25.7602 28 25.7968 27.9925 25.8308 27.9779C25.8648 27.9633 25.8956 27.942 25.9214 27.9151C25.9472 27.8882 25.9674 27.8564 25.9809 27.8214C25.9944 27.7864 26.0008 27.7491 25.9999 27.7116C25.9653 26.0301 25.6231 24.3945 24.98 22.8503ZM13 14.7739C11.413 14.7739 9.91943 14.1442 8.79577 13.001C7.67211 11.8578 7.05323 10.3382 7.05323 8.72362C7.05323 7.10905 7.67211 5.58945 8.79577 4.44623C9.91943 3.30301 11.413 2.67337 13 2.67337C14.587 2.67337 16.0806 3.30301 17.2042 4.44623C18.3279 5.58945 18.9468 7.10905 18.9468 8.72362C18.9468 10.3382 18.3279 11.8578 17.2042 13.001C16.0806 14.1442 14.587 14.7739 13 14.7739Z" fill="#A65CF0")
        button.bottomheaderbasket.flex.btn( aria-label="Посмотреть карзину")
            span.bottomheaderquantity 0
            svg.bottomheadersvg(xmlns="http://www.w3.org/2000/svg" width="30" height="28" viewBox="0 0 30 28" fill="none")
                path(d="M28.8162 19.8503H8.90202L9.90191 17.7365L26.5154 17.7052C27.0772 17.7052 27.5588 17.2887 27.6591 16.7125L29.9599 3.34598C30.0201 2.99541 29.9298 2.63444 29.7091 2.36023C29.6 2.22528 29.4639 2.11658 29.3103 2.04166C29.1567 1.96674 28.9892 1.9274 28.8195 1.92637L7.68476 1.85348L7.50418 0.971861C7.39048 0.40957 6.90224 0 6.34712 0H1.18047C0.86739 0 0.567133 0.129087 0.345752 0.358864C0.124371 0.588641 0 0.900285 0 1.22524C0 1.55019 0.124371 1.86184 0.345752 2.09161C0.567133 2.32139 0.86739 2.45048 1.18047 2.45048H5.3907L6.17991 6.34486L8.12284 16.1086L5.62145 20.3466C5.49155 20.5286 5.4133 20.7446 5.39557 20.9704C5.37784 21.1961 5.42134 21.4225 5.52112 21.6239C5.72177 22.0369 6.12641 22.2973 6.57452 22.2973H8.67462C8.2269 22.9145 7.98508 23.6662 7.98573 24.4388C7.98573 26.4034 9.52402 28 11.4168 28C13.3096 28 14.8478 26.4034 14.8478 24.4388C14.8478 23.6648 14.6004 22.9116 14.159 22.2973H19.5463C19.0986 22.9145 18.8568 23.6662 18.8574 24.4388C18.8574 26.4034 20.3957 28 22.2885 28C24.1812 28 25.7195 26.4034 25.7195 24.4388C25.7195 23.6648 25.4721 22.9116 25.0307 22.2973H28.8195C29.4683 22.2973 30 21.7489 30 21.072C29.9981 20.7474 29.8725 20.4368 29.6507 20.2079C29.4289 19.979 29.1289 19.8504 28.8162 19.8503ZM8.17635 4.26925L27.4317 4.33519L25.5456 15.2964L10.4202 15.3242L8.17635 4.26925ZM11.4168 25.5356C10.8349 25.5356 10.36 25.0428 10.36 24.4388C10.36 23.8349 10.8349 23.342 11.4168 23.342C11.9987 23.342 12.4735 23.8349 12.4735 24.4388C12.4735 24.7297 12.3622 25.0087 12.164 25.2144C11.9658 25.4201 11.6971 25.5356 11.4168 25.5356ZM22.2885 25.5356C21.7066 25.5356 21.2317 25.0428 21.2317 24.4388C21.2317 23.8349 21.7066 23.342 22.2885 23.342C22.8704 23.342 23.3452 23.8349 23.3452 24.4388C23.3452 24.7297 23.2339 25.0087 23.0357 25.2144C22.8375 25.4201 22.5687 25.5356 22.2885 25.5356Z" fill="#A65CF0")
- var pageheader = ''
mixin header(pageheader)
    header.header
        .topheadercont
            .topheader.flex.container
                .topheader__container
                    .topheader__contain.flex
                        .topheader__textselekt.flex(tabindex=0)
                            p.preset.topheader__text Ваш регион:
                            .topheader__selects.selekt
                                select.topheader__select(id="selectCustom")
                                    option.topheader__option(data-value="1") Москва
                                    option.topheader__option(data-value="2") Казань
                                    option.topheader__option(data-value="3") Уфа
                                    option.topheader__option(data-value="4") Пермь
                        a.topheader__tel.link(href="tel:+74951234567" tabindex=0) +7 (495) 123-45-67
                nav.topheader__navigation
                    ul.topheader__list.listreset.flex
                        - var lists = [{text:'О компании', link:"one", anchor:"one"}, {text:'Гарантия и возврат', link:"two", anchor:"two"}, {text:'Корпоративным клиентам', link:"three", anchor:"three"}, {text:'Дизайн-решение', link:"four", anchor:"four"}]
                            each list in lists
                                li.topheader__item
                                    a(href="#" + list.anchor).topheader__link.link= list.text
                    +personAndBasket
        .middleheader.flex.container
            button.middleheader__burger.btn#burger(aria-label="Кнопка открытия меню")
            a.middleheader__logoimg(href="index.html")
                picture.middleheader__img
                    source(srcset="../imgs/logo320.webp" media="(max-width: 650px)")
                    source(srcset="../imgs/logo768.webp" media="(max-width: 950px)")
                    source(srcset="../imgs/logo1024.webp" media="(max-width: 1250px)")
                    source(srcset="../imgs/logo.webp" media="(max-width: 1920px)")
                    img.imgreset.lazy(data-src="../imgs/logo.webp" alt="логотип")
            nav.middleheader__navigation
                +burger
                .middleheader__navigationimg
            +personAndBasket
        .bottomheader.flex.container
            .bottomheader__left.flex
                form.bottomheader__form(action="#")
                    label(for="search" aria-label="Я хочу купить...")
                    input.bottomheader__search(id="search" type="text" placeholder="Я хочу купить..." value="")
                    button.bottomheader__send.btn( aria-label="Найти")
                .bottomheader__select(tabindex=0)
                    select.bottomheader__selects(id="selectCustoms")
                        option.bottomheader__opt(data-value="1") Категория
                        option.bottomheader__opt(data-value="2") Диваны
                        option.bottomheader__opt(data-value="3") Кресла
                        option.bottomheader__opt(data-value="4") Пуфы
                        option.bottomheader__opt(data-value="5") Кровати
                        option.bottomheader__opt(data-value="6") Тумбы
                        option.bottomheader__opt(data-value="7") Комоды
                        option.bottomheader__opt(data-value="8") Стулья
                        option.bottomheader__opt(data-value="9") Столы
                        option.bottomheader__opt(data-value="10") Аксесуары
            +personAndBasket
            if (pageheader === 'card')
                - var navheaderList = [{title:'Главная /'},{title:'Каталог /'},{title:'Диваны /'},{title:'Прямые диваны /'},{title:'D-31'}]
                +breadCrumbs(navheaderList)
            if (pageheader === 'catalog')
                - var navheaderList = [{title:'Главная /'},{title:' Каталог /'},{title:' Диваны /'},{title:' Прямые диваны'}]
                +breadCrumbs(navheaderList)
            if (pageheader === 'cooperation')
                - var navheaderList = [{title:'Главная /'}, {title:'Сотрудничество'}]
                +breadCrumbs(navheaderList)
            if (pageheader === 'contacts')
                - var navheaderList = [{title:'Главная /'}, {title:'Контакты'}]
                +breadCrumbs(navheaderList)
- var ids = 'agreements'
mixin modalBuy(ids)
    .containermodalformbuy
        .containermodalformbuy__container.flex
            .containermodalformbuy__subcontainer
                button.containermodalformbuy__close.btn(aria-label="закрыть модальное окно")
                h1.hreset.containermodalformbuy__title Купить в один клик
                p.preset.containermodalformbuy__text Чтобы оформить заказ — заполните формы ниже и наш менеджер свяжется с вами в течении часа.
                form.containermodalformbuy__form.flex(action="#" method="post")
                    label.containermodalformbuy__label( aria-label="Как вас зовут?")
                        input.containermodalformbuy__inp.containermodalformbuy__inpfio(type="text" name="fios" placeholder="Как вас зовут?" required)
                    label.containermodalformbuy__label(aria-label="Ваш телефон")
                        input.containermodalformbuy__inp.containermodalformbuy__inptel(type="tel" name="tels" placeholder="Ваш телефон"  required)
                    input.containermodalformbuy__btn.btnViolet.checkedonlino.btn(type="submit" value="Отправить" onclick="event.preventDefault()")
                    .containermodalformbuy__containeragreement.flex
                        label.containermodalformbuy__label(aria-label="Ваш телефон")
                            input.containermodalformbuy__send(type="checkbox" id= ids name="checkboxsis" value="yes" checked required)
                            span.containermodalformbuy__span
                        label(for= ids) Принимаю
                            a.containermodalformbuy__agreement(href="#")  пользовательское соглашение

mixin thankyou
    .thankyou
        .thankyou__container.flex
            .thankyou__subcontainer
                button.thankyou__btn.btn(aria-label="закрыть модальное окно")
                img.imgreset.lazy.thankyou__img(data-src="../imgs/elephant.webp" alt="thankyou")
                p.preset.thankyou__text Спасибо, мы вам перезвоним!
mixin products
    - var oneProducts = {span:'5,0', img:'sectionthree1.webp', title:'Диван кожаный', subtitle: '“R-94”', price:'94 990 руб', btn:'Купить', id:'R-94'}
    - var twoProducts = {span:'4,9', img:'sectionthree2.webp', title:'Диван апартековый', subtitle: '“T-75”', price:'69 990 руб', btn:'Купить', id:'T-75'}
    - var threeProducts = {span:'4,8', img:'sectionthree3.webp', title:'Диван тканевый', subtitle: '“D-31”', price:'28 490 руб', btn:'Купить', id:'D-31'}
    - var foureProducts = {span:'4,8', img:'sectionthree4.webp', title:'Диван велюровый', subtitle: '“Y-68”', price:'22 990 руб', btn:'Купить', id:'Y-68'}
    - var fiveProducts = {span:'4,8', img:'sectionthree5.webp', title:'Диван из шинила', subtitle: '““W-95”', price:'22 990 руб', btn:'Купить', id:'W-95'}
    - var sixProducts =  {span:'4,8', img:'sectionthree6.webp', title:'Диван флоковый', subtitle: '“G-41”', price:'17 990 руб', btn:'Купить', id:'G-41'}
    - var sevenProducts = {span:'4,8', img:'sectionthree7.webp', title:'Диван шиниловый', subtitle: '“V-43”', price:'19 990 руб', btn:'Купить', id:'V-43'}
    - var eightProducts =  {span:'4,7', img:'sectionthree8.webp', title:'Диван велюровый', subtitle: '“S-99”', price:'19 990 руб', btn:'Купить', id:'S-99'}

    if (page === 'index')
        - var listCatalog = [oneProducts, twoProducts, threeProducts, foureProducts, fiveProducts, sixProducts, sevenProducts, eightProducts ]
            each list in listCatalog
                - var nameclass = 'sectionthree'
                - var list = list
                +product(nameclass, list)
    if (page === 'calalog')
        - var listCatalogs = [oneProducts, twoProducts, threeProducts, foureProducts, fiveProducts, sixProducts, sevenProducts, eightProducts, {img:'sectionthree9.webp', title:'Диван из кожзама', subtitle: '“F-85”', price:'26 990 руб', btn:'Купить', id:'F-85'},{span:'4,6', img:'sectionthree10.webp', title:'Диван флоковый', subtitle: '“H-64”',  price:'25 990 руб', btn:'Купить', id:'H-64'}, {span:'4,6', img:'sectionthree11.webp', title:'Диван флоковый', subtitle: '“H-58”', price:'23 990 руб', btn:'Купить', id:'H-58'}, {span:'4,6', img:'sectionthree12.webp', title:'Диван из кожзама', subtitle: '“R-43”', price:'33 990 руб', btn:'Купить', id:'R-43'},  {span:'4,6', img:'sectionthree13.webp', title:'Диван из шинила', subtitle: '“С-42”', price:'18 990 руб', btn:'Купить', id:'С-42'}, {span:'4,6', img:'sectionthree14.webp', title:'Диван велюровый', subtitle: '“U-58”', price:'21 990 руб', btn:'Купить', id:'U-58'}, {span:'4,5', img:'sectionthree15.webp', title:'Диван флоковый', subtitle: '“F-41”', price:'17 990 руб', btn:'Купить', id:'F-41'}, {span:'4,5', img:'sectionthree16.webp', title:'Диван велюровый', subtitle: '“R-85”', price:'19 990 руб', btn:'Купить', id:'R-85'}, {span:'4,4', img:'sectionthree17.webp', title:'Диван из шинила', subtitle: '“С-80”', price:'20 990 руб', btn:'Купить', id:'С-80'}]
            each list in listCatalogs
                - var nameclass = 'sectionthree'
                - var list = list
                .swiper-slide.swiper6slide.sectionthree
                    +product(nameclass, list)
    if (page === 'card')
        //- для наглядности продублировала карточки
        - var listCatalogs = [{span:"4,5", img:'../imgs/sectionthree16.webp', title:'Диван велюровый', subtitle: '“R-85”', price:'34 990 руб', btn:'Купить', id:'R-85'},{span:"4,6", img:'../imgs/sectionthree11.webp', title:'Диван флоковый', subtitle: '“H-58”', price:'23 990 руб', btn:'Купить', id:'H-58'},{span:"4,5", img:'../imgs/sectionthree17.webp', title:'Диван велюровый', subtitle: '“S-44”', price:'19 990 руб', btn:'Купить', id:'S-44'},{span:"4,8", img:'../imgs/sectionthree7.webp', title:'Диван шиниловый', subtitle: '“V-43”', price:'19 990 руб', btn:'Купить', id:'V-43'},{span:"4,5", img:'../imgs/sectionthree16.webp', title:'Диван велюровый', subtitle: '“R-85”', price:'34 990 руб', btn:'Купить', id:'R-85'},{span:"4,6", img:'../imgs/sectionthree11.webp', title:'Диван флоковый', subtitle: '“H-58”', price:'23 990 руб', btn:'Купить', id:'H-58'},{span:"4,5", img:'../imgs/sectionthree17.webp', title:'Диван велюровый', subtitle: '“S-44”', price:'19 990 руб', btn:'Купить', id:'S-44'},{span:"4,8", img:'../imgs/sectionthree7.webp', title:'Диван шиниловый', subtitle: '“V-43”', price:'19 990 руб', btn:'Купить', id:'V-43'}]
            each list in listCatalogs
                .swiper-slide.card__bottomslider
                    - var nameclass = 'card'
                    - var list = list
                    +product(nameclass, list)
mixin card768(classs)
    div.card__rightcontainer(class= `${classs}`)
        span.card__rightspan.star 4,8
        h1.hreset.card__righttitle Диван тканевый прямой “D-31”
        span.card__rightspantext Мини 120 см без ящика Stark синий (Рогожка)
        p.preset.preset.card__rightprice 28 490 руб
        button.card__rightbtn.btn.btnViolet Купить в один клик
        button.card__rightsubspan.btn + Добавить в корзину
mixin baseHead
    link(rel="preload" href="fonts/opensans-bold-webfont.woff" as="font")
    link(rel="preload" href="fonts/opensans-bold-webfont.woff2" as="font")
    link(rel="preload" href="fonts/opensans-regular-webfont.woff" as="font")
    link(rel="preload" href="fonts/opensans-regular-webfont.woff2" as="font")
    link(rel="preload" href="fonts/opensans-semibold-webfont.woff" as="font")
    link(rel="preload" href="fonts/opensans-semibold-webfont.woff2" as="font")
    link(rel="preload" href="fonts/playfairdisplaysc-black-webfont.woff" as="font")
    link(rel="preload" href="fonts/playfairdisplaysc-black-webfont.woff2" as="font")
    link(type="Image/x-icon" href="imgs/favicon.webp" rel="icon")
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css')
    link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
    link(rel='stylesheet' href='https://unpkg.com/tippy.js@5/dist/backdrop.css')
    link(rel="stylesheet" href="styles/styles.css")
mixin baseFooter
    script(defer src="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(defer src="choices.min.js")
    script(defer src='https://unpkg.com/popper.js@1')
    script(defer src='https://unpkg.com/tippy.js@5/dist/tippy-bundle.iife.js')
    script(defer src='https://code.jquery.com/jquery-3.6.0.js')
    script(defer src='https://code.jquery.com/ui/1.13.2/jquery-ui.js')
    script(src='https://cdn.jsdelivr.net/npm/vanilla-lazyload@15.1.1/dist/lazyload.min.js')

